{% extends 'admin/base_site.html' %}%}




{% block content %}

<h2>Listado de Comentarios del User Story "{{userstory.nombre}}" </h2>
<br>
{% if userstory.estado == 'FINALIZADO' or  user.esScrumMaster %}

{% else %}
    <a  class="btn btn-success" href="{% url 'Comentario.views.nuevo_comentario' id_userstory %}">Nuevo Comentario</a>
{% endif %}
<div class="panel panel-info">

        <table class="table table-striped" style="width: 100%">
            <thead>
        <th >TITULO</th>
        <th >FECHA DE CREACION</th>
        <th >HORA TRABAJADA</th>
         <th > ARCHIVO </th>
        {% if not user.esScrumMaster and userstory.estado != 'FINALIZADO' %}
        <th >ADJUNTAR</th>
        {% endif %}
    </thead>

        {% for p in comentarios %}

     <tr>
	     <td><em><a href="{% url 'Comentario.views.mi_comentario' p.id %}">{{p.titulo}}</a></em></td>
         <td><em>{{p.fecha_creacion}}</em></td>
         <td><em>{{p.hora_trabajada}}</em></td>
         <td><em> {% if p.get_archivo %}<a href="/files/download/?name={{p.get_archivo}}">{{p.get_archivo}} {% endif %}</em></td>
         {% if not user.esScrumMaster and userstory.estado != 'FINALIZADO' %}
         <td>
            <div class="input-group">
                {% if p.get_archivo_id %}
                <a class="btn btn-success" href="/Comentario/document/{{p.get_archivo_id}}/?id={{ p.id }}&id_us={{userstory.id}}">Editar Archivo</a>
                {% else %}
                 <a class="btn btn-primary" href="/Comentario/document/add/?id={{ p.id }}&id_us={{userstory.id}}">Archivo</a>

                {% endif %}
            </div>
        <td>
           {% endif %}
     </tr>


        {% endfor %}

    </table>
   </div>
<div class="pagination">
    <span class="step-links">
        {% if comentarios.has_previous %}
            <a href="?page={{ comentarios.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ comentarios.number }} of {{ comentarios.paginator.num_pages }}.
        </span>

        {% if comentarios.has_next %}
            <a href="?page={{ comentarios.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
<br>

{% if not user.esScrumMaster %}

<a class="btn btn-default" href="{% url 'UserStory.views.lista_userstory_usuario' id_proyecto %}"> <i class="fa fa-backward"></i> Volver</a>
{% endif %}

{% endblock %}

