{% extends 'admin/base_site.html' %}%}




{% block content %}

<h2>Listado de Comentarios del User Story "{{userstory.nombre}}" </h2>
<br>
<a  class="btn btn-success" href="{% url 'Comentario.views.nuevo_comentario' id_userstory %}">Nuevo Comentario</a>
    <center>

        <table class="table table-striped" style="width: 100%">
            <thead>
        <th >TITULO</th>
        <th >FECHA DE CREACION</th>
        <th >HORA TRABAJADA</th>
        <th >POSEE ARCHIVO </th>
        <th >ADJUNTAR</th>
    </thead>

        {% for p in comentarios %}

     <tr>
	     <td><em><a href="{% url 'Comentario.views.mi_comentario' p.id %}">{{p.titulo}}</a></em></td>
         <td><em>{{p.fecha_creacion}}</em></td>
         <td><em>{{p.hora_trabajada}}</em></td>
         <td><em>{{p.adjunto}}</em></td>
         <td>
            <div class="input-group">
                <a class="btn btn-primary" href="{% url 'Comentario.views.list' p.id %}">Archivo</a>
            </div>
        <td>
     </tr>


        {% endfor %}

    </table>
        </center>

<a class="btn btn-default" href="{% url 'UserStory.views.lista_userstory_usuario' id_proyecto %}"> <i class="fa fa-backward"></i> Volver</a>
{% endblock %}

