{% extends 'admin/base_site.html' %}%}




{% block content %}


    <br>
    <center><h1>Lista de User Story que cambiaron de Estado  </h1></center>
    <br><br>
    <center>

        <table class="table table-striped" style="width: 100%">
            <thead>
        <th >NOMBRE</th>
        <th >ESTADO</th>
        <th >FECHA INICIO</th>
        <th >FECHA FIN</th>
        {% for p in lista %}

    <tr>
	     <td><em>{{p.nombre}}</em></td>
         <td><em>{{p.estado}}</em></td>
         <td><em>{{p.fechaInicio}}</em></td>
         <td><em>{{p.fechaFin}}</em></td>

	</tr>

        {% endfor %}

    </table>
        </center>
<a class="btn btn-default" href="/proyectos/"> <i class="fa fa-backward"></i> Volver</a>
{% endblock %}
