{% extends 'admin/base_site.html' %}

{% block title %}Editar UserStory{% endblock %}

{% block content %}
<h3> Modificar USERSTORY creado por el Cliente </h3>

	<form id='formulario' method='post' action=''>{% csrf_token %}
		<table class="table table-striped" style="width: 50%">
		{{formulario.as_table}}</table>
		<br>
		<a class="btn btn-default" href="/userstorys/"> <i class="fa fa-backward"></i> Volver</a>
		<button class="btn btn-primary" type='submit' >Guardar <i class="fa fa-save"></i></button>

	</form>

{% endblock %}