{% extends 'admin/base_site.html' %}

{% block title %}UserStory{% endblock %}


{% block content %}







    <center>


        <table class="table table-bordered table-striped" >

            <tr><th style="width: 180px" class="navbar-inner">Nombre: </th><td style="text-align: center">{{ userstory.nombre }}</td></tr>
            {% if userstory.usuario != NULL %}
            <tr><th style="width: 180px" class="navbar-inner">Desarrollado por: </th><td style="text-align: center">{{ userstory.usuario }}</td></tr>
            {% endif %}
            <tr><th class="navbar-inner">Descripcion: </th><td style="text-align: center">{{ userstory.descripcion }}</td></tr>
            <tr><th class="navbar-inner">Estado: </th><td style="text-align: center">{{ userstory.estado }}</td></tr>
            <tr><th class="navbar-inner">Actividad: </th><td style="text-align: center">{{ userstory.actividad }}</td></tr>
            <tr><th class="navbar-inner">Tiempo Trabajo (Hs): </th><td style="text-align: center">{{ userstory.tiempo_trabajado }}</td></tr>
            <tr><th class="navbar-inner">Porcentaje (%): </th><td style="text-align: center">{{ userstory.porcentaje }}</td></tr>
            <tr><th class="navbar-inner">Tiempo Estimado (Hs): </th><td style="text-align: center">{{ userstory.tiempo_estimado }}</td></tr>
        </table>
    </center>

<a class="btn btn-default" href="{% url 'UserStory.views.mis_userstorys' userstory.proyecto.id %}"> <i class="fa fa-backward"></i> Volver</a>
{% endblock %}
