{% extends 'admin/base_site.html' %}
{% block content %}


<div class="panel panel-info">
        <table class="table table-bordered table-striped" >

            <tr><th style="width: 180px" class="navbar-inner">Nombre: </th><td style="text-align: center">{{ userstory.nombre }}</td></tr>
            {% if userstory.usuario != NULL %}
            <tr><th style="width: 180px" class="navbar-inner">Desarrollado por: </th><td style="text-align: center">{{ userstory.usuario }}</td></tr>
            {% endif %}
            <tr><th class="navbar-inner">Descripcion: </th><td style="text-align: center">{{ userstory.descripcion }}</td></tr>
            <tr><th class="navbar-inner">Usuario: </th><td style="text-align: center">{{ userstory.usuario }}</td></tr>
            {% if userstory.prioridad == '3' %}
            <tr><th class="navbar-inner">Prioridad: </th><td style="text-align: center">BAJA</td></tr>
            {% endif %}
            {% if userstory.prioridad == '2' %}
            <tr><th class="navbar-inner">Prioridad: </th><td style="text-align: center">MEDIA</td></tr>
            {% endif %}
            {% if userstory.prioridad == '1' %}
            <tr><th class="navbar-inner">Prioridad: </th><td style="text-align: center">ALTA</td></tr>
            {% endif %}
            <tr><th class="navbar-inner">Estado: </th><td style="text-align: center">{{ userstory.estado }}</td></tr>
            <tr><th class="navbar-inner">Actividad: </th><td style="text-align: center">{{ userstory.actividad }}</td></tr>
            <tr><th class="navbar-inner">Tiempo Trabajo (Hs): </th><td style="text-align: center">{{ userstory.tiempo_trabajado }}</td></tr>
            <tr><th class="navbar-inner">Porcentaje (%): </th><td style="text-align: center">{{ userstory.porcentaje }}</td></tr>
            <tr><th class="navbar-inner">Tiempo Estimado (Hs): </th><td style="text-align: center">{{ userstory.tiempo_estimado }}</td></tr>
        </table>
</div>
<br>


{% endblock %}
