{% extends 'admin/base_site.html' %}%}
{% block content %}
    <br>
<h2>Lista de User Story </h2>
    <br><br>
<div class="panel panel-info">


        <table class="table table-striped" style="width: 100%">
            <thead>
        <th >NOMBRE</th>
        <th >ESTADO</th>
        <th >FECHA DE CREACION</th>
        <th >PRIORIDAD</th>
        <th >SPRINT</th>
        <th >TIEMPO ESTIMADO</th>
        <th >TIEMPO TRABAJADO</th>


        <th  style="width: 20%">ASIGNAR  SPRINT</th>
    </thead>

        {% for p in userstorys %}
            {% if p.estado == 'CREADO' and p.sprint == NULL %}
     <tr>
	     <td><em><a href="{% url 'UserStory.views.mi_userstory' p.id %}">{{p.nombre}}</a></em></td>
         <td><em>{{p.estado}}</em></td>
         <td><em>{{p.fecha_creacion}}</em></td>
         <td><em>{{p.prioridad}}</em></td>
         <td><em>{{p.sprint.nombre}}</em></td>
         <td><em>{{p.tiempo_estimado}}</em></td>
         <td><em>{{p.tiempo_trabajado}}</em></td>

         {% if p.sprint == NULL %}
         <td>
            <div class="input-group">
                <a class="btn btn-success" href="{% url 'UserStory.views.asignar_userstory_a_sprint' id_proyecto id_sprint p.id  %}">{{sprint.nombre}} <i class="fa fa-edit"></i></a>
            </div>
         </td>
         {% endif%}

	</tr>

            {% endif%}
        {% endfor %}

    </table>
        </div>

{% endblock %}