{% extends 'admin/base_site.html' %}

{% block content %}

<table>
<td>
<a  class="btn btn-info" href="{% url 'UserStory.views.nuevo_userstory'  %}">
Nuevo Sprint</a>
</td>
</table>

<div class="panel panel-info">

 <table class="table table-striped" style="width: 100%">
    <thead>
        <th >NOMBRE</th>
        <th >DESCRIPCION</th>
        <th >FECHA DE CREACION</th>
        <th >FECHA DE INICIO</th>
        <th >FECHA DE FINALIZACION</th>
        <th >ESTADO</th>
        <th >PRIORIDAD</th>
        <th >SPRINT</th>
        <th >ACTIVIDAD</th>
        <th >TIEMPO TRABAJADO</th>
        <th >PORCENTAJE</th>

        <th  style="width: 20%">ACCION</th>
    </thead>
    {% for dato in userstory %}
    <tr>
	    <td><em>{{dato.nombre}}</em></td>
        <td>{{ dato.descripcion }}</td>
        <td>{{ dato.fecha_creacion }}</td>
        <td>{{ dato.fechaInicio}}</td>
        <td>{{ dato.fechaFin }}</td>
        <td>{{ dato.estado }}</td>
        <td>{{ dato.prioridad }}</td>
        <td>{{ dato.sprint }}</td>
        <td>{{ dato.actividad }}</td>
        <td>{{ dato.tiempo_trabajado }}</td>
        <td>{{ dato.porcentaje }}</td>

        <td>
        <div class="input-group">
        <a class="btn btn-primary" href="{% url 'UserStory.views.editar_userstory' dato.id %}">Editar <i class="fa fa-edit"></i></a>
       &nbsp; <a class="btn btn-danger" data-toggle="modal" data-target="#myModal"  onclick="$('#delete-id').val({{ dato.id }})" href="#myModal" >
       Eliminar&nbsp;</a>
            </div>
        </td>
	</tr>
	{% endfor %}
 </table>
</div>

{% endblock %}