{% extends 'admin/base_site.html' %}%}




{% block content %}


    <br>
    <center><h1>Actividad {{actividad.nombre}} estado "DOING" </h1></center>
    <br><br>
    <center>

        <table class="table table-striped" style="width: 100%">
            <thead>
        <th >NOMBRE</th>
        <th >DESCRIPCION</th>
        <th >TIEMPO ESTIMADO</th>
        <th >TIEMPO TRABAJADO</th>

        <th  style="width: 20%">AGREGAR</th>
        <th  style="width: 10%">CAMBIAR ALGO</th>
        {% for p in userstorys %}
            {% if p.estado == 'DOING' %}
    <tr>
	     <td><em>{{p.nombre}}</em></td>
         <td><em>{{p.descripcion}}</em></td>
         <td><em>NADA</em></td>
         <td><em>{{p.tiempo_trabajado}}</em></td>

        <td>
            <div class="input-group">
                <a class="btn btn-primary" href="{% url 'Comentario.views.nuevo_comentario' p.id %}">COMENTARIO</a>
            </div>
        </td>
        <td>
            <div class="input-group">
                <a class="btn btn-success" href="{% url 'Comentario.views.mis_comentarios' p.id %}">COMENTARIOS</a>
            </div>


        </td>
	</tr>
            {% endif%}
        {% endfor %}

    </table>
        </center>
<a class="btn btn-default" href="/proyectos/"> <i class="fa fa-backward"></i> Volver</a>
{% endblock %}
