{% extends 'admin/base_site.html' %}



{% block content %}
<div class="content-secondary">
	<p><h4>Id: <span class="label label-primary">{{ rol.id }}</span></h4></p>
	<p><h4>ROL: <span class="label label-primary">{{ rol.name }}</span></h4></p>
    <br>
    <h4> Permisos: </h4>
    {% for permiso in permisos %}

            <li> {{ permiso.name }} </li>{% endfor %}



</div>
<br>
<div align="center">
		<a href="/rol/listar/"><button type="button" class="btn btn-default">Volver</button></a>
</div>
	
{% endblock %}


