{% extends 'admin/base_site.html' %}



{% block content %}
<div class="content-secondary">

<h1> Roles </h1>

    <table class="table table-bordered table-striped">
    <tr><th style="width: 180px" class="navbar-inner">Id: </th><td style="text-align: center">{{ rol.id }}</td></tr>
    <tr><th class=  "navbar-inner">Rol: </th><td  style="text-align: center">{{ rol.name }}</td></tr>
    <tr><th class="navbar-inner">Permiso: </th><td style="text-align: center"> {% for permiso in permisos %}

            <li> {{ permiso.name }} </li>{% endfor %}
 </td></tr>

    </table>







</div>
<br>
<div align="center">
		<a href="/rol/listar/"><button type="button" class="btn btn-default">Volver</button></a>
</div>
	
{% endblock %}


