{% extends 'admin/base_site.html' %}
{% load i18n admin_urls admin_static admin_modify %}

{% block content %}

<h1>LISTA DE USUARIOS</h1>
<table>
<a  class="btn btn-info" href="{% url 'PIC.views.nuevo_usuario'  %}">
Nuevo Usuario <i class="fa fa-plus"></i></a>


</table>

 <table class="table table-bordered table-condensed table-striped" >
    <thead>
        <th >USERNAME</th>
        <th >EMAIL</th>
        <th >NOMBRE</th>
        <th >APELLIDO</th>
        <th >ACTIVO</th>
        <th >ASIGNAR-ROL</th>
    </thead>
    {% for dato in usuarios %}
    <tr>
	    <td >{{dato.username|capfirst}}</td>
        <td><em>{{dato.email}}</em></td>
        <td>{{ dato.first_name }}</td>
        <td>{{ dato.last_name }}</td>
         <td>{{ dato.is_active }}</td>
        <td>
          <a  class="btn btn-primary" href="{% url 'PIC.views.asignar_rol_usuario'  rol.id dato.id %}">{{rol.name}} <i class="fa fa-edit"></i></a>
        </td>

	</tr>
	{% endfor %}
 </table>


<div class="pagination">
    <span class="step-links">
        {% if usuarios.has_previous %}
            <a href="?page={{ usuarios.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ usuarios.number }} of {{ usuarios.paginator.num_pages }}.
        </span>

        {% if usuarios.has_next %}
            <a href="?page={{ usuarios.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endblock %}