{% extends 'admin/base_site.html' %}




{% block content %}
<table>
<a  class="btn btn-info" href="/rol/crear/">
Nuevo Rol <i class="fa fa-plus"></i></a>
</table>

<div class="content-secondary">
<!-- Aca van la  lista de Proyectos.. o de Solicitudes.. o de credenciales -->
	<div class="panel-group" id="accordion">

	<br>
    <table class="table table-striped" style="width: 100%">
        <thead>
            <th >Rol</th>
            <th  style="width: 20%">ACCION</th>
            <th  style="width: 20%">ACCION</th>
        </thead>
        <tr>
		    {% if lista_roles %}
			    {% for rol in lista_roles %}
                     {% if rol.name %}


				          <td><a href="/rol/consultar/{{ rol.id }}/">{{ rol.name }}</a></td>
                          <td><a href="/rol/modificar/{{ rol.id }}/"><button type="button" class="btn btn-primary btn-sm">Modificar</button></a></td>
                          <td><a href="/rol/eliminar/{{ rol.id }}/"><button type="button" class="btn btn-danger btn-sm">Eliminar</button></a></td>
        </tr>

				{% endif %}
			{% endfor %}
		{% endif %}
</table>
	</div>
	</div>
{% endblock %}
