{% extends 'admin/base_site.html' %}%}




{% block content %}

    <h2>Usuarios Asignado al "{{proyecto.nombre}}"</h2>
<br>
<a class="btn btn-success"     href="{% url 'AdminProyectos.views.listar_usuarios_para_asignar_proyecto' id_proyecto %}">
       Agregar Usuarios&nbsp;</a>
<br>
<br>
  <div class="panel panel-info">

        <table class="table table-striped" style="width: 100%">
            <thead>
        <th >NOMBRE</th>
        <th >APELLIDO</th>
        <th >ROL</th>

        <th  style="width: 10%">ACCION</th>
        <th  style="width: 10%">USER STORY</th>

        {% for p in usuarioproyecto %}
    <tr>
	     <td><em>{{p.usuario.first_name}}</em></td>
         <td><em>{{p.usuario.last_name}}</em></td>
         <td><em>{{p.rol}}</em></td>
        {% if p.rol.name != 'ScrumMaster' and proyecto.estado == 'EN-ESPERA'%}

        <td>
            <div class="input-group">
                <a class="btn btn-primary" href="{% url 'AdminProyectos.views.desasignar_usuario_proyecto' id_proyecto p.usuario_id %}">Desasignar</a>
            </div>
        </td>

        {% if p.rol.name == 'Equipo'%}
        <td>
            <div class="input-group">
                <a class="btn btn-success" href="{% url 'UserStory.views.lista_userstory_creado_para_asignar_usuario' id_proyecto p.usuario_id %}">Asignar</a>
           </div>
        </td>
        {% else %}
        <td></td>
        {% endif %}
        {% else %}
        <td></td>
        <td></td>
        {% endif %}




	</tr>

        {% endfor %}

    </table>
        </div>
<div class="pagination">
    <span class="step-links">
        {% if usuarioproyecto.has_previous %}
            <a href="?page={{ usuarioproyecto.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ usuarioproyecto.number }} of {{ usuarioproyecto.paginator.num_pages }}.
        </span>

        {% if usuarioproyecto.has_next %}
            <a href="?page={{ usuarioproyecto.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
<br>
<a class="btn btn-default" href="{% url 'AdminProyectos.views.scrum_master_vista' id_proyecto %}"> <i class="fa fa-backward"></i> Volver</a>

{% endblock %}
