{% extends 'admin/base_site.html' %}




{% block content %}


<h2>Lista de Proyectos INICIADO</h2>


<div class="panel panel-info">
 <table class="table table-striped" style="width: 100%">
    <thead>
        <th >NOMBRE</th>
        <th >SCRUM MASTER</th>
        <th >ESTADO</th>
        <th >FECHA DE CREACION</th>
        <th >FECHA DE INICIO</th>
        <th >FECHA DE FINALIZACION</th>


    </thead>
    {% for dato in lista %}
    <tr>
	     <td>{{dato.nombre}}</td>
        <td >{{dato.scrumMaster}}</td>
        <td>{{dato.estado}}</td>
        <td>{{ dato.fecha_creacion }}</td>
        <td>{{ dato.fechaInicio}}</td>
        <td>{{ dato.fechaFin }}</td>
	</tr>
	{% endfor %}
 </table>
</div>



{% endblock %}