{% extends 'admin/base_site.html' %}



{% block content %}
<h2>Datos del Proyecto "{{proyecto.nombre}}"</h2>


<center>
<ul class="nav nav-tabs">
  <li class="active"><a href="{% url 'AdminProyectos.views.mi_proyecto' id_proyecto %}">Mi Proyecto</a></li>
    {% if permiso.rol.name == 'ScrumMaster' %}
    <li ><a href="{% url 'AdminProyectos.views.scrum_master_vista' id_proyecto %}">ScrumMaster</a></li>
    {% endif %}
    <li ><a href="{% url 'UserStory.views.lista_userstory_usuario' id_proyecto %}">Equipo</a></li>
    <li ><a href="{% url 'UserStory.views.menu_cliente' id_proyecto %}">Cliente</a></li>
    <li ><a href="{% url 'ProyectoDesarrollo.views.kanban' id_proyecto %}">Kanban</a></li>
    <li ><a href="{% url 'ProyectoDesarrollo.views.visualizar_sprint_en_desarrollo' id_proyecto %}">Sprint2</a></li>
    <li ><a href="{% url 'ProyectoDesarrollo.views.Burndowncharts' id_proyecto %}">Burndowncharts</a></li>


</ul>
</center>


<br>
<br>
{% if proyecto.estado == 'EN-ESPERA' %}
<a class="btn btn-primary" data-toggle="modal" data-target="#myModal"  href="#myModal" >
       Editar&nbsp;<i class="fa fa-edit"></i></a>
{% endif %}

    <center>
        
        <table class="table table-bordered table-striped">

            <tr><th style="width: 180px" class="navbar-inner">Scrum Master: </th><td style="text-align: center">{{ proyecto.scrumMaster.username }}</td></tr>
            <tr><th class=  "navbar-inner">Nombre: </th><td  style="text-align: center">{{ proyecto.nombre }}</td></tr>
            <tr><th class="navbar-inner">Estado: </th><td style="text-align: center">{{ proyecto.get_estado_display }}</td></tr>
            <tr><th class="navbar-inner">Fecha de Creacion: </th><td style="text-align: center">{{ proyecto.fecha_creacion }}</td></tr>
            <tr><th class="navbar-inner">Fecha de Inicio: </th><td style="text-align: center">{{ proyecto.fechaInicio }}</td></tr>
            <tr><th class="navbar-inner">Fecha de Fin: </th><td style="text-align: center">{{ proyecto.fechaFin }}</td></tr>
            <tr><th class="navbar-inner">Descripcion: </th><td style="text-align: center">{{ proyecto.descripcion }}</td></tr>
        </table>
    </center>
     

<a class="btn btn-default" href="{% url 'AdminProyectos.views.proyectos' user.id %}"> Volver</a>
{% endblock %}
</body>