{% extends 'admin/base_site.html' %}



{% block content %}
<center><h1>{{user}}-{{ proyecto.nombre }}</h1></center>

<center>
<ul class="nav nav-tabs">
  <li class="active"><a href="{% url 'AdminProyectos.views.mi_proyecto' id_proyecto %}">Mi Proyecto</a></li>
    {% if permiso.rol.name == 'ScrumMaster' or permiso.rol.name == 'Equipo'%}
    <li ><a href="{% url 'Actividades.views.mis_actividades' id_proyecto %}">Actividad</a></li>
    {% endif %}
    {% if proyecto.estado == 'EN-ESPERA'%}
    <li ><a href="{% url 'UserStory.views.mis_userstorys' id_proyecto %}">User Story</a></li>
    <li ><a href="{% url 'Sprint.views.mis_sprints' id_proyecto %}">Sprint</a></li>
    <li ><a href="{% url 'AdminProyectos.views.listar_usuario_proyecto' id_proyecto %}">Usuarios</a></li>
    {% endif %}
    {% if proyecto.estado == 'EN-DESARROLLO'%}
    <li ><a href="{% url 'ProyectoDesarrollo.views.kanban' id_proyecto %}">Kanban</a></li>
    <li ><a href="{% url 'ProyectoDesarrollo.views.visualizar_sprint_en_desarrollo' id_proyecto %}">Sprint2</a></li>
     {% endif %}
    {% if permiso.rol.name == 'ScrumMaster'%}
    <li ><a href="{% url 'ProyectoDesarrollo.views.scrumMaster' id_proyecto %}">ScrumMaster</a></li>
    {% endif %}
    <li ><a href="{% url 'ProyectoDesarrollo.views.Burndowncharts' id_proyecto %}">Burndowncharts</a></li>


</ul>
</center>

{% if permiso.rol.name == 'ScrumMaster'%}
<td>
    <br>
<p3>Solo al finalizar el dia</p3>
<a  class="btn btn-info" href="{% url 'ProyectoDesarrollo.views.analizar_sprint' id_proyecto %}">
Analisis de Sprint <i class="fa fa-plus"></i></a>


</td>
{% endif %}
<br>
<br>
{% if proyecto.estado == 'EN-ESPERA' %}
<a class="btn btn-primary" data-toggle="modal" data-target="#myModal"  href="#myModal" >
       Editar&nbsp;<i class="fa fa-edit"></i></a>
{% endif %}

    <center>
        
        <table class="table table-bordered table-striped">

            <tr><th style="width: 180px" class="navbar-inner">Scrum Master: </th><td style="text-align: center">{{ proyecto.scrumMaster.username }}</td></tr>
            <tr><th class=  "navbar-inner">Nombre: </th><td  style="text-align: center">{{ proyecto.nombre }}</td></tr>
            <tr><th class="navbar-inner">Estado: </th><td style="text-align: center">{{ proyecto.get_estado_display }}</td></tr>
            <tr><th class="navbar-inner">Fecha de Creacion: </th><td style="text-align: center">{{ proyecto.fecha_creacion }}</td></tr>
            <tr><th class="navbar-inner">Fecha de Inicio: </th><td style="text-align: center">{{ proyecto.fechaInicio }}</td></tr>
            <tr><th class="navbar-inner">Fecha de Fin: </th><td style="text-align: center">{{ proyecto.fechaFin }}</td></tr>
            <tr><th class="navbar-inner">Descripcion: </th><td style="text-align: center">{{ proyecto.descripcion }}</td></tr>
        </table>
    </center>
     

<a class="btn btn-default" href="{% url 'AdminProyectos.views.proyectos' user.id %}"> Volver</a>
{% endblock %}
</body>