{% extends 'admin/base_site.html' %}



{% block content %}
<h2>Datos del Proyecto "{{proyecto.nombre}}"</h2>



<ul class="nav nav-tabs">
  <li class="active"><a href="{% url 'AdminProyectos.views.mi_proyecto' id_proyecto %}">Mi Proyecto</a></li>
    {% if permiso.rol.name == 'ScrumMaster' %}
    <li ><a href="{% url 'AdminProyectos.views.scrum_master_vista' id_proyecto %}">ScrumMaster</a></li>
    {% endif %}
    {% if permiso.rol.name == 'Equipo' %}
    <li ><a href="{% url 'UserStory.views.lista_userstory_usuario' id_proyecto %}">Equipo</a></li>
    {% endif %}
    {% if permiso.rol.name == 'Cliente' %}
    <li ><a href="{% url 'UserStory.views.menu_cliente' id_proyecto %}">Cliente</a></li>
    {% endif %}

    {% if proyecto.estado != 'EN-ESPERA' %}
    <li ><a href="{% url 'ProyectoDesarrollo.views.visualizar_sprint_en_desarrollo' id_proyecto %}">Sprint</a></li>
    <li ><a href="{% url 'ProyectoDesarrollo.views.kanban' id_proyecto %}">Kanban</a></li>
    <li ><a href="{% url 'ProyectoDesarrollo.views.Burndowncharts' id_proyecto %}">Burndowncharts</a></li>
    {% endif %}


</ul>




{% if proyecto.estado == 'EN-ESPERA' %}
<br>
<a class="btn btn-primary" href="{% url 'AdminProyectos.views.editar_proyecto' proyecto.id %}" >
       Editar&nbsp;</a>
<br><br>
{% endif %}

 <div class="panel panel-info">
        
        <table class="table table-bordered table-striped">

            <tr><th style="width: 180px" class="navbar-inner">Scrum Master: </th><td style="text-align: center">{{ proyecto.scrumMaster.username }}</td></tr>
            <tr><th class=  "navbar-inner">Nombre: </th><td  style="text-align: center">{{ proyecto.nombre }}</td></tr>
            <tr><th class="navbar-inner">Estado: </th><td style="text-align: center">{{ proyecto.get_estado_display }}</td></tr>
            <tr><th class="navbar-inner">Fecha de Creacion: </th><td style="text-align: center">{{ proyecto.fecha_creacion }}</td></tr>
            <tr><th class="navbar-inner">Fecha de Inicio: </th><td style="text-align: center">{{ proyecto.fechaInicio }}</td></tr>
            <tr><th class="navbar-inner">Fecha de Fin: </th><td style="text-align: center">{{ proyecto.fechaFin }}</td></tr>
            <tr><th class="navbar-inner">Descripcion: </th><td style="text-align: center">{{ proyecto.descripcion }}</td></tr>
        </table>
    </div>
     

<a class="btn btn-default" href="{% url 'AdminProyectos.views.proyectos' user.id %}"> Volver</a>
{% endblock %}
</body>