{% extends 'admin/base_site.html' %}




{% block content %}


<h1>Lista de Proyectos del Usuario {{user}}</h1>

   <table>
   

{% if user.esAdmin %}
<td>
<a  class="btn btn-info" href="{% url 'AdminProyectos.views.nuevo_proyecto'  %}">
Nuevo Proyecto <i class="fa fa-plus"></i></a>

<br><br>
</td>
{% endif %}
   </table>

<div class="panel panel-info">
 <table class="table table-striped" style="width: 100%">
    <thead>
        <th >NOMBRE</th>
        <th >SCRUM MASTER</th>
        <th >ESTADO</th>
        <th >FECHA DE CREACION</th>
        <th >FECHA DE INICIO</th>
        <th >FECHA DE FINALIZACION</th>
         {% if proyecto.estado == 'EN-ESPERA' %}
        <th  style="width: 30%">ACCION</th>
        {% endif %}
    </thead>
    {% for dato in usuarioproyecto %}
    <tr>
	     <td><em><a href="{% url 'AdminProyectos.views.mi_proyecto' dato.proyecto.id %}">{{dato.proyecto.nombre}}</a></em></td>
        <td >{{dato.proyecto.scrumMaster}}</td>
        <td>{{dato.proyecto.estado}}</td>
        <td>{{ dato.proyecto.fecha_creacion }}</td>
        <td>{{ dato.proyecto.fechaInicio}}</td>
        <td>{{ dato.proyecto.fechaFin }}</td>

        {% if dato.proyecto.estado == 'EN-ESPERA' %}
        <td> 
        <div class="input-group">  
        <a class="btn btn-primary btn-sm" href="{% url 'AdminProyectos.views.editar_proyecto' dato.proyecto.id %}">Editar <i class="fa fa-edit"></i></a>
       &nbsp; <a class="btn btn-danger btn-sm"  href="{% url 'AdminProyectos.views.pre_eliminar_proyecto' dato.proyecto.id %}" > Eliminar&nbsp;<i class="fa fa-ban"></i></a>
        </div>
        </td>
        {% endif %}
	</tr>
	{% endfor %}
 </table>
</div>
{% endblock %}