{% extends 'admin/base_site.html' %}
{% load i18n admin_urls admin_static admin_modify %}

{% block content %}
<h1>Lista de Usuarios Activos del Sistema</h1>



</table>
<div class="panel panel-info">
 <table class="table table-bordered table-condensed table-striped" >
    <thead>
        <th >UserName</th>
        <th >Email</th>
        <th >Nombre</th>
        <th >Apellido</th>
        <th >Asignar</th>
    </thead>
    {% for dato in lista %}
             <tr>
	            <td >{{dato.username}}</td>
                <td><em>{{dato.email}}</em></td>
                <td>{{ dato.first_name }}</td>
                <td>{{ dato.last_name }}</td>
                <td>
                <a  class="btn btn-primary" href="{% url 'PIC.views.asignar_rol_a_user_proyecto' id_proyecto dato.id  %}">Rol<i class="fa fa-edit"></i></a>
                </td>
	        </tr>
    {% endfor %}


 </table>
</div>

<br><br><br>

{% endblock %}