{% extends 'admin/base_site.html' %}

{% block content %}

<h2>Kanban</h2>

<ul class="nav nav-tabs">
    <li ><a href="{% url 'AdminProyectos.views.mi_proyecto' id_proyecto %}">Mi Proyecto</a></li>
    {% if rol.rol.name == 'ScrumMaster' %}
    <li ><a href="{% url 'AdminProyectos.views.scrum_master_vista' id_proyecto %}">ScrumMaster</a></li>
    {% endif %}
    {% if rol.rol.name == 'Equipo' %}
    <li ><a href="{% url 'UserStory.views.lista_userstory_usuario' id_proyecto %}">Equipo</a></li>
    {% endif %}
    {% if rol.rol.name == 'Cliente' and proyecto.estado != 'FINALIZADO' %}
    <li ><a href="{% url 'UserStory.views.menu_cliente' id_proyecto %}">Cliente</a></li>
    {% endif %}
    {% if proyecto.estado != 'EN-ESPERA' %}
    <li ><a href="{% url 'ProyectoDesarrollo.views.visualizar_sprint_en_desarrollo' id_proyecto %}">Sprint</a></li>
    {% endif %}
    {% if proyecto.estado != 'EN-ESPERA' %}
    <li class="active" ><a href="{% url 'ProyectoDesarrollo.views.kanban' id_proyecto %}">Kanban</a></li>
    <li ><a href="{% url 'ProyectoDesarrollo.views.Burndowncharts' id_proyecto %}">Burndowncharts</a></li>
    {% endif %}
</ul>

<div class="panel panel-info">
<table class="table table-striped" style="width: 100%">
    {% for p in actividades %}
        <tr>
            <td>{{p.nombre}}</td>
                {% for dato in userstorys  %}
                    {% if dato.actividad.id == p.id %}
                        <tr>
                            {% if dato.estado == 'TODO' or dato.estado == 'DOING' or dato.estado == 'DONE' %}
                                <td>
                                    <div class="input-group">
                                        <a class="btn btn-primary" href="{% url 'UserStory.views.mi_userstory' dato.id %}">{{dato.nombre}}</a>
                                    </div>
                                    <td>
                                        <a>{{dato.estado}}</a>
                                    </td>
                                </td>
                            {% endif %}
                            {% if  dato.estado == 'REVISAR_FIN_AC' or dato.estado == 'REVISAR_FIN' %}
                                <td>
                                    <div class="input-group">
                                        <a class="btn btn-primary" href="{% url 'UserStory.views.mi_userstory' dato.id %}">{{dato.nombre}}</a>
                                    </div>
                                </td>
                                <td>
                                    <a>DOING</a>
                                </td>
                            {% endif %}
                             {% if  dato.estado == 'FINALIZADO' %}
                                <td>
                                    <div class="input-group">
                                        <a class="btn btn-primary" href="{% url 'UserStory.views.mi_userstory' dato.id %}">{{dato.nombre}}</a>
                                    </div>
                                </td>
                                <td>
                                    <a>DONE</a>
                                </td>
                            {% endif %}
                        </tr>
                   {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% for dato in lista %}
            {% if dato.us.actividad.id == p.id %}
                <tr>
                    {% if dato.estado == 'TODO' or dato.estado == 'DOING' or dato.estado == 'DONE' %}
                        <td>
                            <div class="input-group">
                                <a class="btn btn-primary" href="{% url 'UserStory.views.mi_userstory' dato.id %}">{{dato.us.nombre}}</a>
                            </div>
                        </td>
                        <td>
                            <a>{{dato.estado}}</a>
                        </td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
</table>
</div>
<a class="btn btn-default" href="{% url 'AdminProyectos.views.mi_proyecto' id_proyecto %}"> Volver</a>
{% endblock %}
