{% extends 'admin/base_site.html' %}%}




{% block content %}

<h2>Listado de Todos los User Story</h2>
<br>
{% if user.esScrumMaster %}
 <a class="btn btn-success"     href="{% url 'UserStory.views.nuevo_userstory' id_proyecto  %}">
       Crear UserStory&nbsp;</a>
{% endif %}
    <center>

        <table class="table table-striped" style="width: 100%">
            <thead>
        <th >NOMBRE</th>
        <th >ESTADO</th>
        <th >FECHA DE CREACION</th>
        <th>TIEMPO ESTIMADO</th>
        <th>TIEMPO TRABAJADO</th>
        <th >PRIORIDAD</th>
        <th >SPRINT</th>
        <th >ACTIVIDAD</th>
        <th>COMENTARIOS</th>
        <th>APROBAR</th>
    </thead>

        {% for p in lista %}

             <tr>
	             <td><em><a href="{% url 'UserStory.views.mi_userstory' p.id %}">{{p.nombre}}</a></em></td>
                 <td><em>{{p.estado}}</em></td>
                 <td><em>{{p.fecha_creacion}}</em></td>
                 <td><em>{{p.tiempo_estimado}}</em></td>
                 <td><em>{{p.tiempo_trabajado}}</em></td>
                 <td><em>{{p.prioridad}}</em></td>
                 <td><em>{{p.sprint.nombre}}</em></td>
                 <td><em>{{p.actividad}}</em></td>
                 <td> <div class="input-group">
                    <a class="btn btn-success btn-md" href="{% url 'Comentario.views.mis_comentarios' p.id %}" >Ver<i class="fa fa-edit"></i></a></div>
                 </td>
                 <td> <div class="input-group">
                    <a class="btn btn-info btn-md" href="{% url 'UserStory.views.aprobar_finalizacion' p.id %}" >FINALIZACION<i class="fa fa-edit"></i></a></div>
                 </td>
	        </tr>
        {% endfor %}
    </table>
</center>
<a class="btn btn-default" href="{% url 'UserStory.views.userstorys_revisar' id_proyecto %}"> <i class="fa fa-backward"></i> Volver</a>
{% endblock %}
