{% extends 'admin/base_site.html' %}

{% block title %}Sprint{% endblock %}


{% block content %}
<h3>Estado del Sprint "{{sprint.estado}}"</h3>
<div class="panel panel-info">
    <h3>Tiempo Total de Duracion del Sprint:</h3>
    <table class="table table-striped" style="width: 100%">
        <thead>
            {% if sprint.estado == 'ABIERTO' %}
            <th  style="width: 20%" >Estimado</th>
            <th  style="width: 20%">En Proceso</th>
            {% endif %}
            {% if sprint.estado == 'CERRADO' %}
                <th  style="width: 20%" >Estimado</th>
                <th  style="width: 20%">Completado</th>
            {% endif %}
        </thead>
        <tr>
	        <td>{{sprint_estimado.duracion}} hs.</td>
            <td>{{tiempo_en_proceso}} hs.</td>
        </tr>
    </table>
    <h3>Tiempo horas/hombre del Sprint:</h3>
    <table class="table table-striped" style="width: 100%">
            {% if sprint.estado == 'ABIERTO' %}
            <th  style="width: 20%" >Estimado</th>
            <th  style="width: 20%">En Proceso</th>
            {% endif %}
            {% if sprint.estado == 'CERRADO' %}
                <th  style="width: 20%" >Estimado</th>
                <th  style="width: 20%">Completado</th>
            {% endif %}
        <tr>
	        <td>{{tiempo_hora_hombre_estimado}} hs.</td>
            <td>{{sprint_en_proceso.horas_acumulada}} hs.</td>
        </tr>
    </table>
</div>

<a class="btn btn-default" href="{% url 'ProyectoDesarrollo.views.visualizar_sprint_en_desarrollo' sprint.proyecto_id%}"> <i class="fa fa-backward"></i> Volver</a>
{% endblock %}
