{% extends 'admin/base_site.html' %}%}




{% block content %}

    <center><h1>Lista de UserStory para Re-asignar Tiempo </h1></center>


        <table class="table table-striped" style="width: 100%">
            <thead>
        <th >NOMBRE</th>
        <th >SPRINT</th>
        <th  style="width: 10%">RE-ASIGNAR</th>


        {% for p in userstorys %}

    <tr>
	     <td>{{p.nombre}}</td>
         <td>{{p.sprint}}</td>
        <td>
            <div class="input-group">
                <a class="btn btn-primary" href="{% url 'ProyectoDesarrollo.views.reasignar_userstory_tiempo' id_proyecto p.id %}">Tiempo</a>
        </div>
	</tr>


        {% endfor %}

    </table>
        </center>
<a class="btn btn-default" href="{% url 'UserStory.views.userstorys_revisar' id_proyecto  %}"> <i class="fa fa-backward"></i> Volver</a>
{% endblock %}
