{% extends 'admin/base_site.html' %}

{% block content %}

<h2>Sprints del Proyecto </h2>
<ul class="nav nav-tabs">
    <li ><a href="{% url 'AdminProyectos.views.mi_proyecto' id_proyecto %}">Mi Proyecto</a></li>
    {% if rol.rol.name == 'ScrumMaster' %}
    <li ><a href="{% url 'AdminProyectos.views.scrum_master_vista' id_proyecto %}">ScrumMaster</a></li>
    {% endif %}
    {% if rol.rol.name == 'Equipo' %}
    <li ><a href="{% url 'UserStory.views.lista_userstory_usuario' id_proyecto %}">Equipo</a></li>
    {% endif %}
    {% if rol.rol.name == 'Cliente' %}
    <li ><a href="{% url 'UserStory.views.menu_cliente' id_proyecto %}">Cliente</a></li>
    {% endif %}
    {% if proyecto.estado == 'EN-DESARROLLO' %}
    <li class="active"><a href="{% url 'ProyectoDesarrollo.views.visualizar_sprint_en_desarrollo' id_proyecto %}">Sprint</a></li>
    {% endif %}
    {% if proyecto.estado != 'EN-ESPERA' %}
    <li ><a href="{% url 'ProyectoDesarrollo.views.kanban' id_proyecto %}">Kanban</a></li>
    <li ><a href="{% url 'ProyectoDesarrollo.views.Burndowncharts' id_proyecto %}">Burndowncharts</a></li>
    {% endif %}
</ul>
<br>

{% if rol.rol.name == 'ScrumMaster'%}
 <a class="btn btn-success"     href="{% url 'ProyectoDesarrollo.views.analizar_sprint' id_proyecto  %}">
       Analizar Sprint&nbsp;</a>
{% endif %}
<br>
<br>
<div class="panel panel-info">

        <table class="table table-striped" style="width: 100%">
            <thead>
        <th >NOMBRE</th>
        <th  style="width: 10%">Proceso</th>
        <th  style="width: 10%">UserStory</th>
        {% for p in sprints %}
    <tr>
	     <td><em>{{p.nombre}}-{{p.estado}}</em></td>
         {% if p.estado != 'EN-ESPERA' %}
         <td><em><a class="btn btn-info" href="{% url 'ProyectoDesarrollo.views.observar_proceso_sprint' p.id %}">Observar</a></em></td>
         {% else%}
        <td><em><a class="btn btn-info disabled">Observar</a></em></td>
        {% endif %}
        <td><em><a class="btn btn-success" href="{% url 'UserStory.views.lista_userstory_relacionado_a_sprint' p.id %}">Observar</a></em></td>
    </tr>
        {% endfor %}
    </table>
</div>
<br>
<a class="btn btn-default" href="{% url 'AdminProyectos.views.scrum_master_vista' id_proyecto %}"> <i class="fa fa-backward"></i> Volver</a>

{% endblock %}
