{% extends 'admin/base_site.html' %}

{% block content %}
            <style type="text/css">
                .cuerpo {
                    padding:20px 0 20px 0;
                    overflow-x:hidden;
                    overflow-y:auto; /* Hace que se ajuste a la columna más alta en ff */
                    height:100%; /* Hace que se ajuste a la columna más alta  en ie6 */
                }

                .columna_izquierda {
                    float:left; /* Alineación a la izquierda */
                    width:250px;
                    border:solid lightblue 3px;
                    padding:10px;
                }

                .columna_central {
                    float:left; /* Alineación a la izquierda */
                    width:250px;
                    border:3px solid lightgreen;
                    padding:10px;
                }
                .columna_porcentaje {
                    float:left; /* Alineación a la izquierda */
                    width:60px;
                    border:3px solid lightgreen;
                    padding:10px;
                }
                .columna_porcentaje2 {
                    float:left; /* Alineación a la izquierda */
                    width:60px;
                    border:solid lightblue 3px;
                    padding:10px;
                }
                .columna_hora1 {
                    float:left; /* Alineación a la izquierda */
                    width:60px;
                    border:solid lightblue 3px;
                    padding:10px;
                }
                .columna_hora2 {
                    float:left; /* Alineación a la izquierda */
                    width:60px;
                    border:3px solid lightgreen;
                    padding:10px;
                }
            </style>


<h2>Sprints</h2>
<ul class="nav nav-tabs">
    <li ><a href="{% url 'AdminProyectos.views.mi_proyecto' id_proyecto %}">Mi Proyecto</a></li>
    {% if rol.rol.name == 'ScrumMaster' %}
    <li ><a href="{% url 'AdminProyectos.views.scrum_master_vista' id_proyecto %}">ScrumMaster</a></li>
    {% endif %}
    {% if rol.rol.name == 'Equipo' %}
    <li ><a href="{% url 'UserStory.views.lista_userstory_usuario' id_proyecto %}">Equipo</a></li>
    {% endif %}
    {% if rol.rol.name == 'Cliente' %}
    <li ><a href="{% url 'UserStory.views.menu_cliente' id_proyecto %}">Cliente</a></li>
    {% endif %}
    {% if proyecto.estado == 'EN-DESARROLLO' %}
    <li class="active"><a href="{% url 'ProyectoDesarrollo.views.visualizar_sprint_en_desarrollo' id_proyecto %}">Sprint</a></li>
    {% endif %}
    {% if proyecto.estado != 'EN-ESPERA' %}
    <li ><a href="{% url 'ProyectoDesarrollo.views.kanban' id_proyecto %}">Kanban</a></li>
    <li ><a href="{% url 'ProyectoDesarrollo.views.Burndowncharts' id_proyecto %}">Burndowncharts</a></li>
    {% endif %}
</ul>
<br>

<br>
{% if rol.rol.name == 'ScrumMaster'%}
 <a class="btn btn-success"     href="{% url 'ProyectoDesarrollo.views.analizar_sprint' id_proyecto  %}">
       Analizar Sprint&nbsp;</a>
{% endif %}
<br>
    <div class="marco">
        <div class="cuerpo">
            <div class="columna_izquierda">
                <h3>Sprint Estimado</h3>
                <table class="table" style="width: 250px">
                    {% for p in lista_estimacion_sprint %}
                        <tr>
                            <td>
                                {{ p.sprint.nombre }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="columna_hora1">
                <h3>hs</h3>
                <table class="table" style="width: 45px">
                    {% for p in lista_hora_estimado %}
                        <tr>
                            <td>
                                {{p}}hs
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="columna_porcentaje2">
                <h3>%</h3>
                <table class="table" style="width: 45px">
                    {% for p in lista_porcentaje_estimado %}
                        <tr>
                            <td>
                                {{p}}%
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="columna_central">
                <h3>Sprint en Proceso</h3>
                <table class="table" style="width: 250px">
                    {% for p in lista_sprint_proceso %}
                        <tr>
                            <td>
                                {{ p.sprint.nombre }} - {{p.sprint.estado}}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="columna_hora2">
                <h3>hs</h3>
                <table class="table" style="width: 45px">
                    {% for p in lista_hora_proceso%}
                        <tr>
                            <td>
                                {{p}}hs
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
<h2>Sprints Lista</h2>
<br>
<a class="btn btn-default" href="{% url 'AdminProyectos.views.mi_proyecto' id_proyecto %}"> <i class="fa fa-backward"></i> Volver</a>
{% endblock %}
