{% extends 'admin/base_site.html' %}%}




{% block content %}

    <center><h1>Mis Actividades </h1></center>
<center>
<ul class="nav nav-tabs">
  <li ><a href="{% url 'AdminProyectos.views.mi_proyecto' id_proyecto %}">Mi Proyecto</a></li>
     <li ><a href="{% url 'Flujo.views.mi_flujo' id_proyecto %}">Flujo</a></li>
     <li class="active"><a href="{% url 'Actividades.views.mis_actividades' id_proyecto %}">Actividad</a></li>
    <li ><a href="{% url 'UserStory.views.mis_userstorys' id_proyecto %}">User Story</a></li>
    <li ><a href="{% url 'Sprint.views.mis_sprints' id_proyecto %}">Sprint</a></li>
</ul>
</center>
<br>
<a class="btn btn-success"     href="{% url 'Actividades.views.nueva_actividad' flujo.id %}">
       Crear Actividades&nbsp;</a>
    <center>

        <table class="table table-striped" style="width: 100%">
            <thead>
        <th >NOMBRE</th>
        <th >FECHA DE CREACION</th>
        <th >FECHA DE INICIO</th>
        <th >FECHA DE FINALIZACION</th>

        <th  style="width: 10%">ASIGNAR</th>
        <th  style="width: 10%">ESTADOS</th>
        {% for p in actividades %}
    <tr>
	     <td><em><a href="{% url 'Actividades.views.mi_actividad' p.id %}">{{p.nombre}}</a></em></td>
         <td><em>{{p.fecha_creacion}}</em></td>
         <td><em>{{p.fechaInicio}}</em></td>
         <td><em>{{p.fechaFin}}</em></td>

        <td>
            <div class="input-group">
                <a class="btn btn-primary" href="{% url 'UserStory.views.lista_userstory_creado' id_proyecto p.id %}">UserStory</a>
        </div>
        <td>
            <div class="input-group">
                <a class="btn btn-success" href="{% url 'Actividades.views.ver_estados' id_proyecto p.id %}">VER</a>
        </div>


        </td>



	</tr>

        {% endfor %}

    </table>
        </center>
<a class="btn btn-default" href="/proyectos/"> <i class="fa fa-backward"></i> Volver</a>

{% endblock %}
