{% extends 'admin/base_site.html' %}%}




{% block content %}

 <h2>Listado de los User Story del sprint {{sprint.nombre}}</h2>



<div class="panel panel-info">

        <table class="table table-striped" style="width: 100%">
            <thead>
        <th >NOMBRE</th>
        <th >USUARIO</th>
        <th >ESTADO</th>
        <th >FECHA DE CREACION</th>
        <th>TIEMPO ESTIMADO</th>
        <th>TIEMPO TRABAJADO</th>
        <th >PRIORIDAD</th>
        <th >SPRINT</th>
        <th >ACTIVIDAD</th>
        <th  style="width: 10%">DESASIGNAR</th>
    </thead>

        {% for p in userstory %}

     <tr>
	     <td><em><a href="{% url 'UserStory.views.mi_userstory' p.id %}">{{p.nombre}}</a></em></td>
         <td><em>{{p.usuario}}</em></td>
         <td><em>{{p.estado}}</em></td>
         <td><em>{{p.fecha_creacion}}</em></td>
         <td><em>{{p.tiempo_estimado}}</em></td>
         <td><em>{{p.tiempo_trabajado}}</em></td>
         <td><em>{{p.prioridad}}</em></td>
         <td><em>{{p.sprint.nombre}}</em></td>
         <td><em>{{p.actividad}}</em></td>
         <td>
            <div class="input-group">
                <a class="btn btn-primary" href="{% url 'UserStory.views.desasinar_userstory_a_sprint'  p.id sprint.id %}">UserStory</a>
            </div>
         <td>


	</tr>


        {% endfor %}

    </table>
</div>


{% endblock %}
