{% extends 'admin/base_site.html' %}

{% block title %} Sprint{% endblock %}
{% block header %}
 {{ sprint.nombre }}
{% endblock %}
<body onload="iniciar()">
{% block content %}
<script>
$('#id_nombre').attr('required','true')


</script>
<center>
<ul class="nav nav-tabs">
  <li class="active"><a href="{% url 'Sprint.views.mi_sprint' id_sprint %}">Mi Sprint</a></li>


</ul></center>
<br>
<!--{% comment %}
    <a class="btn btn-info" href="{% url 'AdminLineaBase.views.listar_lb' id_proyecto %}">Listar Lineas Base</a>
    <a class="btn btn-info" href="{% url 'AdminLineaBase.views.nuevo_lb' id_proyecto %}">Nueva Linea Base</a>
{% endcomment %}!-->

<a class="btn btn-primary" data-toggle="modal" data-target="#myModal"  href="#myModal" >
       Editar&nbsp;<i class="fa fa-edit"></i></a>

  <a class="btn btn-success"   data-toggle="modal" data-target="#iniciarSprint"  href="#iniciarSprint">
       Iniciar&nbsp;<i class="fa fa-retweet"></i></a>

       <br><br>



    <center>


        <table class="table table-bordered table-striped" >

            <tr><th style="width: 180px" class=  "navbar-inner">Nombre: </th><td  style="text-align: center">{{ sprint.nombre }}</td></tr>
            <tr><th class="navbar-inner">Fecha de Creacion: </th><td style="text-align: center">{{ sprint.fecha_creacion }}</td></tr>
            <tr><th class="navbar-inner">Fecha de Inicio: </th><td style="text-align: center">{{ sprint.fechaInicio }}</td></tr>
            <tr><th class="navbar-inner">Fecha de Fin: </th><td style="text-align: center">{{ sprint.fechaFin }}</td></tr>>
            <tr><th class="navbar-inner">Tiempo Acumulado(hs): </th><td style="text-align: center">{{ sprint.tiempo_acumulado }}</td></tr>
        </table>
{##}
{#                <a class="btn btn-info" href="{% url 'Sprint.views.editar_sprint' sprint.id_sprint %}">Editar</a>#}
{##}
{#                <input type="submit" value="Iniciar Sprint" class="btn btn-info">#}
    </center>

    <form method="post">{% csrf_token %}

	<!-- Modal -->
	<div class="modal fade" id="myModal"   style="top: 5%" role="dialog"  data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="false">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabels"><b>Editar Sprint</b></h4>
	      </div>
	      <div class="modal-body">
	         	<table class="table-striped">

	         	{{ formulario.as_table }}
	         	</table>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal"> <i class="fa fa-times"></i> Close</button>
	        <button type="submit" class="btn btn-primary">Aceptar <i class="fa fa-check"></i></button>
	      </div>
	    </div>
	  </div>
	</div>
    </form>

    <!-- Modal -->
	<div class="modal fade" id="iniciarSprint" tabindex="-1"  style="top: 30%" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel"><b>Atención</b></h4>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal"> <i class="fa fa-times"></i> Close</button>
	        <a href="/sprint/iniciar/{{sprint.id}}" class="btn btn-primary">Iniciar <i class="fa fa-check"></i></a>
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}
</body>