{% extends 'admin/base_site.html' %}

{% block title %}Sprint{% endblock %}


{% block content %}

    <center>


        <table class="table table-bordered table-striped" >

            <tr><th style="width: 180px" class="navbar-inner">Nombre: </th><td style="text-align: center">{{ sprint.nombre }}</td></tr>
            <tr><th class="navbar-inner">Tiempo Acumulado (Hs): </th><td style="text-align: center">{{ sprint.tiempo_acumulado }}</td></tr>
        </table>
    </center>

<a class="btn btn-default" href="/proyecto/miproyecto/id_proyecto/"> <i class="fa fa-backward"></i> Volver</a>
{% endblock %}
